@model WebApplication5.Models.CalendarViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style type="text/css">
        body {
            background-color: #DEDEDE;
        }
        div.title {
            font: x-large Verdana, Arial, Helvetica, sans-serif;
            text-align: center;
            height: 40px;
            background-color: white;
            color: black;
        }

        div.footer {
            font: small Verdana, Arial, Helvetica, sans-serif;
            text-align: center;
        }

        table {
            font: 100% Verdana, Arial, Helvetica, sans-serif;
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
        }
        th {
            padding: 0 0.5em;
            text-align: center;
            background-color: gray;
            color: white;
        }
        td {
            font-size: medium;
            padding: 0.25em 0.25em;
            width: 14%;
            height: 80px;
            text-align: left;
            vertical-align: top;
        }
        .date {
            font-size: large;
            padding: 0.25em 0.25em;
            text-align: left;
            vertical-align: top;
        }
        .sun {
            color: red;
        }
        th.month {
            visibility: hidden;
            display: none;
        }
    </style>
</head>

    
<h2 style="text-align:center;">@Model.MonthName 2014</h2>
<table border="1">
    <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
  @{
      int curdate = 1;
      DateTime today = DateTime.Today;
      int daysinmonth = DateTime.DaysInMonth(today.Year, today.Month);
      int monthday1 = (int)(new DateTime(today.Year, today.Month, 1)).DayOfWeek;
      for (int week = 0; curdate <= daysinmonth; week++ )
      {
          <tr>
              @for (int day = 0; day < 7; day++)
              {
                  if (week == 0 && day < monthday1)
                  {
                      <td><span class="date">&nbsp;</span></td>
                  }
                  else if (curdate>daysinmonth)
                  {
                      <td><span class="date">&nbsp;</span></td>
                  }
                  else
                  {
                      <td><span class="date">@curdate</span></td>
                      curdate++;
                  }
              }
          </tr>
      }
  }
</table>
<h3>Meeting Dates as a List:</h3>
<ul>
    @foreach (var e in Model.Events)
    {
        <li>@e.Title - @e.When.ToString()</li>
    }
</ul>
