@{
    ViewBag.Title = "Contact";
}
<head>
    <style>
        h1 {
            color: #900000;
        }
    </style>  
</head>

<body>
    <h1>@ViewBag.Title</h1>
    <h3>
        For any inquiries regarding the club, you can e-mail Mr. Lavold at <abbr title="Click to e-mail directly"><a href="mailto:wayne.lavold@epsb.ca">wayne.lavold@epsb.ca</a></abbr>,<br />
        or visit us on Mondays and Wednesdays during lunch time in room 340.
    </h3>
</body>

