@{
    ViewBag.Title = "Contact";
}
<head>
    <style>
        h1 {
            color: #900000;
        }
        body {
            background-color: #DEDEDE;
        }
    </style>  
</head>

<body>
    <h1>@ViewBag.Title</h1>
    <h3>
        For any inquiries regarding the club, you can e-mail Mr. Lavold at <abbr title="Click to e-mail directly"><a href="mailto:wayne.lavold@epsb.ca">wayne.lavold@epsb.ca</a></abbr>,<br />
        or visit us on Mondays and Wednesdays during lunch time in room 340. <br />
        Make sure to subscribe to our Remind 101! Send "&#64;lavold340" to (587) 409-2927 to make sure you're updated on all our meeting dates and possible schedule changes! 
    </h3>
</body>

