@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>For any inquiries regarding the club, you can e-mail Mr. Lavold at <abbr title="Click to e-mail directly"><a href="mailto:wayne.lavold@epsb.ca">wayne.lavold@epsb.ca</a></abbr><br />
    Or visit us on Mondays and Wednesdays during lunch time in room 340.</h4>

