@model WebApplication5.Models.CalendarEventViewModel
@{
    ViewBag.Title = "Home Page";
}
<head>
    
<link rel="stylesheet" type="text/css" href="/Content/bootstrap.css" />
   <style>       
       body {
           background-color: #DEDEDE;
       }
       .jumbotron {
           color: #C21F1F;
           text-align: center;
       }
       .naming {
           color: #941212;
           font-size: medium;
       }
    
</style>
</head>
<img class="img-responsive" src="~/Content/banner.png" alt="" />

<div class="naming">
    <h2 style="text-align:center">The official web page of the Harry Ainlay Hollywood History Movie Club.</h2>
</div>
<div class="row">
    <div class="col-md-4" style="text-align:center;">
        <h2 style="color:black;"> Current Movie </h2>
        @if (Model == null)
        {
            <p>We've just shown all our films for the year, thank you all for visiting! Make sure to come back next year for another round of awesomeness!</p>
        }
        else{
           <p>
           Head over to the Current Movie page to stay informed about the movie we are currently watching at the club, right now it's<span style="color:red;"> @Model.Film.Title!</span>
           </p>
        }
        <a class="btn btn-primary btn-large" href="@(Url.Action("Film", "Home", null))">Current Movie &raquo;</a>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <h2 style="color:black;">Club Calendar</h2>
        <p>You can head to the club calendar to stay updated on our meeting dates and which movies will be played on them!</p>
        <a class="btn btn-primary btn-large" href="@(Url.Action("Calendar", "Home", null))">Club Calendar &raquo;</a>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <h2 style="color:black;">Movie Discussion</h2>
        <p>Head to the Discussion Board to give your input on our current film, past films, and several movies to come. It's always cool to see what others have to say!</p>
        <a class="btn btn-primary btn-large" href="/Forum">Forum &raquo;</a>
    </div>
   
</div>
