
@{
    ViewBag.Title = "Index";
}

<h2>Voting</h2>
<h4>Welcome to the voting page! Here you can pick which movies we should watch next and you can discuss them even further on the Discussion Board.</h4>


<h5>What do you want to see next?</h5>